/* Украсить нашу форму */
.wrapper{
	max-width: 100%;
	min-height: 100vh;
}

.container{
	max-width: 600px;
	margin: 0 auto;
}

label,#generate{
	cursor: pointer;
}

#partsList,#foodsList{
	list-style: none;
	margin: 0;
	padding: 0;
}